/* ImageContent.module.css */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* White overlay with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .text {
    color: black; /* Change the text color as needed */
    font-size: 18px; /* Adjust the text size as needed */
  }
  
  /* Show the overlay and text on hover */
  .img:hover .overlay {
    opacity: 1;
  }
  